
<div class="container mx-auto mt-5">

    <h1>Login JoJo App</h1>

    <form [formGroup]="formulario" (ngSubmit)="onSubmit()">
      <div class="grid grid-cols-1 gap-4">

        <mat-form-field class="w-full">
          <mat-label>Correo</mat-label>
          <input matInput type="text" id="usuario" formControlName="correo">
        </mat-form-field>

        <mat-form-field class="w-full">
          <mat-label>Contraseña</mat-label>
          <input matInput type="password" id="contrasena" formControlName="contrasena">
        </mat-form-field>

        <button mat-raised-button color="primary" type="submit" [disabled]="formulario.invalid" class="self-end">
          Enviar
        </button>

        <a mat-raised-button [routerLink]="['/recuperar-contrasenna']" routerLinkActive="router-link-active"  color="primary" type="submit" class="self-end">
            Recuperar Contraseña
        </a>

      </div>
    </form>
  </div>


